/* Navigation */

.navigation {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    .navigation {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        border-bottom: 1px solid #8e8e8e;
        font-size: 16px;
    }
}

/* Button */

.navigation__button {
    display: block;
    width: 26px;
    height: 18px;
    background-color: transparent;
    background-image: url('/images/burger.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

@media (min-width: 500px) {
    .navigation__button {
        display: none;
    }
}

/* Pages */

.navigation__pages {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    left: 100%;
    transition: 0.5s;
    z-index: 2;
}

.navigation__pages--active {
    left: 0%;
}

@media (min-width: 500px) {
    .navigation__pages {
        background-color: transparent;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(6, auto);
        position: static;
    }
}

@media (min-width: 860px) {
    .navigation__pages {
        grid-template-rows: 1fr;
    }
}

/* Page */

.navigation__page {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
}

@media (min-width: 500px) {
    .navigation__page {
        border-bottom: 0;
        font-size: 12px;
        margin-right: 5px;
        padding: 0;
        justify-content: flex-end;
    }

    .navigation__page--right {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 0;
    }

    .navigation__page--right::before {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background: url('/images/patreon.svg') center left no-repeat;
        content: '';
    }
}

@media (min-width: 600px) {
    .navigation__page {
        font-size: 16px;
    }

    .navigation__page--right {
        margin-top: 10px;
    }
}

@media (min-width: 860px) {
    .navigation__page--right {
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-content: flex-end;
        margin-top: 0;
    }
}

/* Link */

.navigation__link {
    display: block;
    color: black;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation__link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navigation__link:link,
.navigation__link:visited {
    color: inherit;
}

@media (min-width: 500px) {
    .navigation__link {
        display: inline;
    }
}
